.section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    width: 100%;
    li {
      color: white;
      font-weight: bold;
      border: 2px solid white;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
      .checkAndDelete {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .checked {
          width: 20px;
          height: 20px;
          
        }
      }
    }
  }
}
